.cabecalho {
    background-color: #424E61;
    color: rgb(248, 64, 64);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
    
.cabecalho-imagem { 
      width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 26px;
}



*{
    margin: 0;
       padding: 0;
}

.escola-imagem{
    width: 25%;
}
<link rel="stylesheet" href="style.css">

.escola{
    background-image: linear-gradient(#f9f9fa,#16CFF8);
    color: #faf5f5;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

body {
   
    font-family: 'Poppins', sans-serif;
}